<head>

  <!-- style
  =========================================== -->
  <%- css('./assets/styles/main') %>
  
  <!--  Fonts
  =========================================== -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Satisfy" rel="stylesheet">
  
    <!-- meta
      <%- favicon_tag(path) %>
   =========================================== -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

  <%- open_graph()%>
  
  <!-- SEO
  ========================================== -->
  <meta name="description" content= /<%- config.description %>>
  <meta name="robots" content="index,follow"/>
  
  <title><%= config.title %></title>
</head>