<head>

  <!-- style
  =========================================== -->
  <%- css('./assets/styles/main') %>
  
  <!--  Fonts
  =========================================== -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:300,400,600,700" rel="stylesheet"> 
  <!-- meta
  =========================================== -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    
  <%- favicon_tag('./assets/img/favicon.png') %>
  <%- open_graph()%>
  
  <!-- SEO
  ========================================== -->
  <meta name="description" content= /<%- config.description %>>
  <meta name="robots" content="index,follow"/>
  <link rel='canonical' href='https://damadocss.github.io'>
  <title><%= config.title %></title>
</head>