<!DOCTYPE html>
<html lang="en">
  
  <%- partial('partial/head') %>

  <% if(is_home()) { %>
    <body class="blog-home">

  <% } else if(path === 'artigos/index.html') { %>
    <body class="blog-artigo">

  <% } else { %>
    <body class="blog-about">
  <% } %>

    <div class='blog'>
      <%- partial('partial/header') %>
      
      <main class='blog__main'>
        <%- body %>
      </main>
  
      <%- partial('partial/footer') %>
    </div>

    <% console.log()%>

    <%- js('assets/scripts/main.js') %>
  </body>

</html>
